{                               
    "SITE_NAME": "localhost",
    "BOOK_URL": "",
    "MEDIA_URL": "",
    "LOG_DIR": "/edx/var/logs/edx",
    "LOGGING_ENV": "sandbox",
    "CACHES": {},
    "FEATURES": {       
        "USE_CUSTOM_THEME": false
    }
}               
