{                               
    "SITE_NAME": "localhost",
    "BOOK_URL": "",
    "MEDIA_URL": "",
    "LOG_DIR": "/edx/var/logs/edx",
    "LOGGING_ENV": "sandbox",
    "CACHES": {},
    "FEATURES": {       
        "USE_CUSTOM_THEME": {%if fun_microsites %}false{% else %}true{% endif %},
        "USE_MICROSITES": {%if fun_microsites %}true{% else %}false{% endif %}
    }
    {% if not fun_microsites %},"THEME_NAME": "fun"{% endif %}
}               
